# Python gereksizleri
__pycache__/
*.py[cod]

# Ortam değişkenleri (ÇOK ÖNEMLİ - API Key burada)
.env

# Sanal ortam (Eğer klasör içindeyse)
venv/
env/
.venv/

# Veritabanı (Opsiyonel - genelde binary dosyalar git'te tutulmaz ama demo için tutabilirsin)
# Şimdilik Chinook değişmeyeceği için bunu yoruma alıyorum, git'e eklensin.
# *.sqlite

# Node
node_modules/
.next/
dist/
out/
.DS_Store
*.logbackend/data/chroma_db/
backend/data/user_databases/
